/* variables */
/* general */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  color: #212121;
  background-color: rgba(242, 242, 242, 0.4);
}

.link {
  color: #212121;
  cursor: pointer;
}

button {
  font-family: 'Inter', sans-serif;
  font-size: 0.8rem;
  padding: 12px;
  border: none;
  cursor: pointer;
  background-color: #212121;
  color: white;
}

.btn-light {
  background-color: #f2f2f2;
  border: 1px solid #cecece;
  color: #4e4e4e;
}

/* typography */
h1 {
  font-size: 3rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.5rem;
  font-weight: 400;
}

.small-text {
  font-size: 0.8rem;
  color: #4e4e4e;
}

/* layout */
.cart {
  position: absolute;
  top: 0;
  right: 0;
  width: 600px;
  height: 100vh;
  border: 1px solid #f2f2f2;
  background-color: white;
  z-index: 1;
  padding: 30px;
}

.cart--title {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart--title div {
  display: flex;
  align-items: center;
}

.cart--title div h4 {
  margin-right: 1rem;
}

.cart--box {
  height: calc(100vh - 240px);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  overflow-y: scroll;
  margin-bottom: 0.5rem;
}

.cart--box .cart--item {
  height: 100px;
  display: flex;
  border: 1px solid #cecece;
}

.cart--box .cart--item--update {
  width: 6%;
  display: flex;
  flex-direction: column;
}

.cart--box .cart--item--update div {
  height: 50%;
  width: 100%;
  border: 1px solid #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart--box .cart--item--content {
  width: 82%;
  display: flex;
  align-items: center;
}

.cart--box .cart--item--content img {
  width: 20%;
  height: 100%;
  margin: 0 3%;
  object-fit: contain;
}

.cart--box .cart--item--content .content--grid {
  margin: 10px 0;
  display: grid;
  grid-template-columns: 70px 60px 50px;
  grid-template-rows: 30px 20px 20px;
  gap: 0.25rem 1rem;
  grid-template-areas: "title title title" ".. .. .." ".. .. ..";
}

.cart--box .cart--item--content .content--grid--title {
  text-decoration: underline;
  grid-area: title;
  cursor: pointer;
}

.cart--box .cart--item--content .content--grid p:nth-last-child(1),
.cart--box .cart--item--content .content--grid p:nth-last-child(2) {
  color: #212121;
}

.cart--box .cart--item--content .content--grid--color {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  margin-left: 0.5rem;
}

.cart--box .cart--item--content .content-price {
  margin-left: 2rem;
}

.cart--box .cart--item--clear {
  width: 9%;
  height: 50%;
  border: 1px solid #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto 0;
}

.cart--checkout {
  height: 100px;
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart--checkout h4 {
  margin-top: 0.5rem;
}

.cart--checkout button {
  width: 120px;
}
