* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    color: #A5A5A5;
}

h2, h4, p {
    margin: 0;
}

/* typography */
h2 {
    font-size: 2.625rem;
    font-weight: 800;
    letter-spacing: -2px;
    /* 42px */
}

h4 {
    font-size: 1.125rem;
    /* 18px */
}

a, p {
    font-size: 0.875rem; 
    /* 14px */
}

.small-text {
    font-size: 0.75rem;
    /* 12px */
}

.bold {
    font-weight: 700;
}

.semi-bold {
    font-weight: 500;
}

a {
    color: #FFFFFF;
    text-decoration: none;
}

/* layout */
.bg-container {
    width: 550px;
    margin: 0 auto;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.container {
    width: 466px;
    margin-left: auto;
    margin-right: auto;
}

header {
    color: #FFFFFF;
    padding: 5em 2.625em;
    background-image: url("./images/header.jpg");
    background-color: rgba(14,14,14,0.8);
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
    border: 1px solid #000000;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main {
    min-height: 550px;
    background: #121212;
    text-align: center;  
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* search bar */
.search-bar {
    width: 466px;
    position: absolute;
    top: 194px;
    display: flex;
    align-items: center;
    background: #2E2E2F;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 6px;
}

.search-icon {
    width: 20px;
    height: 20px;
    margin-left: 0.75em;
    margin-right: 0.5em;
}

.search-input,
.search-btn {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 0.875rem;
    border: none;
}

.search-input {
    width: 70%;
    color: #A5A5A5;
    padding: 0.7em auto;
    background: none;
    margin-right: 0.5em;
}

.search-input:focus {
    outline: none;
}

.search-btn {
    background: #4B4B4B;
    color: #FFFFFF;
    border-radius: 0px 6px 6px 0px;
    padding: 0.7em 2.5em;
    cursor: pointer;
}


/* movie content section */

    /* before search */
.movie-icon {
    width: 70px;
    height: 60px;
    margin: 10em auto 0 auto;
}

.movie-content > h4 {
    color: #2E2E2F;
}

    /* msg title */
.msg-title {
    width: 18em;
    margin: 11em auto 0 auto;
    color: #787878;
}

.wl-content > .msg-title {
    width: 20em;
}

.wl-content > p {
    color: #FFFFFF;
}

    /* search with results or watchlist */
.movie-content,
.wl-content,
.movie-item, 
.movie-detail, 
.movie-head,
.movie-info,
.movie-action {
    display: flex;
}

.movie-profile {
    width: 100px;
    height: 150px;
}

.movie-detail {
    width: 346px;
}

.movie-content,
.wl-content {
    flex-direction: column;
    justify-content: center;
    gap: 1.5em;
    margin-bottom: 1em;
}

.movie-content {
    margin-top: 3.75em;
}

.wl-content {
    margin-top: 2em;
}

.movie-item {
    gap: 1.25em;
    padding-bottom: 1.25em;
    border-bottom: 1.5px solid #2C2C2C;
}

.movie-item:last-child {
    border-bottom: none;
}

.movie-detail {
    flex-direction: column;
    justify-content: center;
    gap: 0.625em;
}

.movie-head,
.movie-info {
    color: #FFFFFF;
}

    /* movie head */
.movie-head {
    gap: 0.25em;
    align-items: baseline;
}

.movie-title {
    text-align: left;
}

.movie-title, 
.movie-rating {
    vertical-align: text-bottom;
}

.star-icon {
    width: 12px;
    height: 12px;
    border-radius: 0.75px;
}

    /* movie info */
.movie-info {
    gap: 1em;
}

.movie-action {
    gap: 0.25em;
}

.movie-desc {
    text-align: left;
    line-height: 1.25rem;
}

.read-more {
    color: #FFFFFF;
}

.movie-desc,
.read-more {
    align-self: baseline;
}

.add-btn,
.remove-btn {
    width: 16px;
    height: 16px;   
    background-color: transparent;
    background-size: cover;
    border: none;
    cursor: pointer;
}

.add-btn {
    background-image: url("./images/add_icon.png");
}

.remove-btn {
    background-image: url("./images/minus_icon.png");
}

