/* variables */
/* root */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 0.8rem;
}

/* typography */
h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.2rem;
}

h5 {
  font-size: 1rem;
}

.bold-text {
  font-weight: bold;
}

/* general */
button {
  background-color: #f47b21;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

button,
a {
  color: white;
}

.red-text {
  color: #a90303;
}

.gold-text {
  color: gold;
}

.green-text {
  color: #a0d468;
}

.pink-bg {
  background-color: rgba(255, 192, 203, 0.2);
}

.logo-text {
  display: inline-block;
}

.logo-text::before {
  content: "";
  width: 30px;
  height: 30px;
  background-image: url("../images/weatherstack.png");
  background-size: cover;
  vertical-align: middle;
  margin-right: 10px;
  display: inline-block;
}

/* layout */
.container {
  width: 1020px;
  margin: 0 auto;
}

/* header */
header {
  background-color: #184157;
  height: 60px;
}

header .branding {
  height: 60px;
  width: 300px;
  float: left;
}

header .branding .logo-text {
  line-height: 60px;
}

header nav {
  float: right;
}

header nav .nav-item {
  float: left;
  display: inline-block;
  margin: 15px 0 15px 15px;
  line-height: 30px;
  height: 30px;
  padding: 0 8px;
  font-size: 0.8rem;
}

header nav .nav-item #status::before {
  content: "";
  width: 10px;
  height: 10px;
  background-image: url("");
  background-size: cover;
  vertical-align: middle;
  margin-right: 5px;
  display: inline-block;
  background-color: #5bed56;
  border-radius: 50%;
  vertical-align: baseline;
}

header nav #login {
  background-color: rgba(255, 255, 255, 0.192);
}

header nav #signup {
  background-color: #f47b21;
}

header nav #login,
header nav #signup {
  border-radius: 5px;
}

/* guide */
.guide {
  background-color: #ebeff4;
  clear: both;
}

.guide .container {
  display: flex;
  justify-content: flex-start;
}

.guide .container .guide-card {
  width: 40%;
  margin-right: 100px;
  padding: 30px 0;
}

.guide .container .guide-card p {
  margin: 20px 0;
  font-size: 0.8rem;
}

.guide .container .guide-card button {
  padding: 10px 20px;
  border-radius: 3px;
  cursor: pointer;
}

.guide .container .guide-card .dark-btn {
  background-color: #184157;
}

.guide .container .guide-card .light-btn {
  background-color: #cad5e2;
  color: #4f6c91;
}

/* instruction */
.instruction {
  padding-top: 30px;
}

.instruction .container {
  display: flex;
}

.instruction .container .left {
  width: 22%;
  height: 800px;
  border-right: 1px solid #ebeff4;
}

.instruction .container .left-title {
  margin-bottom: 20px;
}

.instruction .container .left-title h5 {
  margin: 10px 0 10px 15px;
  font-weight: 500;
}

.instruction .container .left-title a {
  color: black;
  display: block;
  padding: 4px 0 4px 15px;
  font-size: 0.8rem;
}

.instruction .container .left-title a:hover {
  background-color: #ebeff4;
  text-decoration: none;
}

.instruction .container .left .github-link {
  color: black;
  display: block;
  padding: 8px 0 8px 15px;
  background-color: #ebeff4;
}

.instruction .container .left .github-link span::before {
  content: "";
  width: 20px;
  height: 20px;
  background-image: url("../images/icon-github.png");
  background-size: cover;
  vertical-align: middle;
  margin-right: 10px;
  display: inline-block;
}

.instruction .container .right {
  width: 78%;
  padding-left: 30px;
}

.instruction .container .right-title {
  margin-bottom: 20px;
}

.instruction .container .right-card {
  margin-bottom: 50px;
}

.instruction .container .right-card h5 {
  border-bottom: 1px solid #ebeff4;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.instruction .container .right-card p {
  line-height: 1.3;
  margin-bottom: 15px;
  font-size: 0.8rem;
}

.instruction .container .right-card p a {
  color: #184157;
  text-decoration: underline;
}

.instruction .container .right-card p .highlight {
  padding: 1px 3px;
  border-radius: 2px;
}

.instruction .container .right-card .example-desc {
  padding: 10px 15px;
  background-color: #050525;
  color: white;
  border-radius: 5px;
  margin-bottom: 20px;
}

.instruction .container .right-card .example-desc p {
  margin: 0;
}

.instruction .container .right-card .example-desc p:nth-child(2),
.instruction .container .right-card .example-desc p:nth-child(3),
.instruction .container .right-card .example-desc p:nth-child(7) {
  margin-left: 30px;
}

.instruction .container .right-card .example-desc p:nth-child(4),
.instruction .container .right-card .example-desc p:nth-child(5),
.instruction .container .right-card .example-desc p:nth-child(6) {
  margin-left: 60px;
}

.instruction .container .right-card .example-alert {
  text-align: left;
  padding: 10px 15px;
  border-left: 3px solid #a90303;
}

/* ending-signup */
.ending-signup {
  margin-top: 30px;
  padding: 15px;
  height: 70px;
  background-color: #ebeff4;
}

.ending-desc {
  line-height: 40px;
  margin-left: 200px;
  margin-right: 20px;
}

.ending-btn {
  color: white;
  background-color: #184157;
  padding: 10px;
  border-radius: 5px;
}

.ending-desc, .ending-btn {
  display: inline-block;
}

/* footer */
footer {
  color: white;
  background-color: #184157;
  padding: 50px 0;
}

footer .logosandlist {
  height: 220px;
}

footer .logosandlist .logos {
  width: 300px;
  float: left;
}

footer .logosandlist .socials {
  margin-top: 20px;
}

footer .logosandlist .socials .social-logo {
  margin-left: 15px;
  width: 25px;
  height: 25px;
  float: left;
}

footer .footer-list {
  float: right;
}

footer .footer-list .category {
  float: left;
  margin-left: 70px;
}

footer .footer-list .category p {
  margin-bottom: 10px;
}

footer .footer-list .category p:first-child {
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 20px;
}

footer .ending-link {
  margin-bottom: 10px;
}

footer .ending-link,
footer .copyright {
  text-align: center;
}
