body {
    margin: 0;
    background: #1C1C1C;
    color: #FFFFFF;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
}

#container {
    background: #1F2937;
    width: 450px;
    height: 340px;
    display: flex;
    flex-direction: column;
    margin: 65px auto;
    padding: 105px 50px;
}

#header {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding-bottom: 35px;
    border-bottom: 1px solid #2F3E53;
}

h1 {
    font-family: 'Karla', sans-serif;
    font-weight: 800;
    font-size: 40px;
    line-height: 40px;
    margin: 0;
}

#title {
    color: #4ADF86;
}

h4 {
    font-size: 20px;
    line-height: 28px;
    color: #D5D4D8;
}

#slogan {
    margin-top: 10px;
    margin-bottom: 40px;
}

#type-sct{
    display: flex;
    margin-bottom: 10px;
}

#pw-len-el {
    background: #273549;
    width: 100px;
    margin-left: 10px;
    border-radius: 6px;
    border: none;
    color: #55F991;
}

#pw-btn {
    background: #10B981;
    width: 220px;
    height: 42px;
    padding: 8px 15px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 6px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}

#pw-sct {
    display: flex;
    justify-content: space-between;
    padding-top: 35px;
}

.pw-box {
    width: 180px;
    height: 32px;
    background: #273549;
    border-radius: 6px;
    text-align: center;
    justify-content: center;
    padding: 4px 15px;
}

.pw-txt {
    color: #55F991;
    font-weight: 500;
    font-size: 16px;
    line-height: 32px;
    margin: 0px;
}