* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 16px;
  font-family: 'Inter';
  font-weight: 400;
  color: #293264;
}

/* typography */
h1, h2, h3, h4, p{
  margin: 0;
}

h1 {
  font-size: 2rem;
}

.small-text {
  font-size: 0.64rem;
}


/* layout */
.container {
  width: 550px;
  min-height: 550px;
  background-color: #F5F7FB;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}


/* buttons */
button {
  font-family: 'Inter';
  text-align: center;
  background-color: #4D5B9E;
  color: #F5F7FB;
  border: none;
  cursor: pointer;
}

.submit-btn,
.newGame-btn {
  min-width: 105px;
  font-weight: 600;
  font-size: 0.64rem;
  border-radius: 10px;
  padding: 1.25em 2em;
}

.submit-btn {
  margin-top: 0.25rem;
}


/* background */
.no-trivia, .trivia-canvas {
  position: relative;
}

.start-bg-yellow,
.start-bg-blue,
.trivia-bg-yellow,
.trivia-bg-blue {
  position: absolute;
}

.start-bg-yellow,
.trivia-bg-yellow {
  top: 0px;
  right: 0px;
}

.start-bg-blue,
.trivia-bg-blue {
  bottom: 0px;
  left: 0px;
}


/* start page */
.no-trivia {
  justify-content: center;
}

.no-trivia > h1 {
  font-family: 'Karla';
  font-weight: 700;
}

.no-trivia > p {
  margin-top: 0.5rem;
}

.no-trivia > button {
  font-weight: 500;
  font-size: 16px;
  padding: 1em 3.5em;
  border-radius: 15px;
  margin-top: 1.75rem;
}


/* trivia page */
.trivia-canvas {
  padding: 2.5rem 4.6875rem 1.5625rem;
}

.trivia--card {
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-bottom: 1px solid #DBDEF0;
  padding-bottom: 1em;
  margin-bottom: 1em;
}

.trivia--question {
  font-family: 'Karla';
  font-weight: 700;
  margin-bottom: 0.75em;
}

.trivia--optionPanel {
  display: flex;
  flex-wrap: wrap;
  gap: 0.75em;
}

.trivia--option {
  min-width: 66px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 0.64em;
  padding: 0.33em 1em;
  cursor: pointer;
}

    /* ending section */
.ending {
  display: flex;
  gap: 1.25em;
  align-items: center;
  margin-top: 0.25em;
}

.ending--skipped,
.ending--score {
  font-weight: 700;
  font-size: 0.8rem;
}

.ending--skipped {
  opacity: 0.5;
  margin-bottom: 0.25em;
}