@import "../../../sass/index.scss";

/* hero */
.hero {
    width: 85%;
    height: 400px;
    margin: 30px auto 100px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $lightgrey;

    &--left {
        width: 42%;
        margin-left: 5%;

        h1 {
            font-weight: 400;
        }

        p {
            margin: 40px 0;
            line-height: 1.5;
            font-size: 0.9rem;
        }

        button {
            font-size: 1rem;
            display: flex;
            align-items: center;
            padding: 1rem;
            gap: 0.5rem
        }
    }

    img {
        width: 35%;
        height: 100%;
        margin-right: 5%;
        object-fit: cover;
    }

}