/* variables */
/* general */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  color: #212121;
  background-color: rgba(242, 242, 242, 0.4);
}

.link {
  color: #212121;
  cursor: pointer;
}

button {
  font-family: 'Inter', sans-serif;
  font-size: 0.8rem;
  padding: 12px;
  border: none;
  cursor: pointer;
  background-color: #212121;
  color: white;
}

.btn-light {
  background-color: #f2f2f2;
  border: 1px solid #cecece;
  color: #4e4e4e;
}

/* typography */
h1 {
  font-size: 3rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.5rem;
  font-weight: 400;
}

.small-text {
  font-size: 0.8rem;
  color: #4e4e4e;
}

/* layout */
/* hero */
.hero {
  width: 85%;
  height: 400px;
  margin: 30px auto 100px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f2f2f2;
}

.hero--left {
  width: 42%;
  margin-left: 5%;
}

.hero--left h1 {
  font-weight: 400;
}

.hero--left p {
  margin: 40px 0;
  line-height: 1.5;
  font-size: 0.9rem;
}

.hero--left button {
  font-size: 1rem;
  display: flex;
  align-items: center;
  padding: 1rem;
  gap: 0.5rem;
}

.hero img {
  width: 35%;
  height: 100%;
  margin-right: 5%;
  object-fit: cover;
}
